div,hr,h1,h2,h3,h4,span,a,p,img,body {
  margin: 0 0 0 0;
  padding: 0;
}

h1 {
  letter-spacing: 1px;
}

.hr {
    border: 0;
    height: 1px;
    background: black;
}

.nav {
  font-family: 'Lato';
  color: white;
  height: 70px;
  background-color: black;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.logo {
  margin-left: 50px;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}


.body {
  position: relative;
  display: block;
  width: 100%;
  overflow-Y: scroll;
  height: calc(100vh - 70px);
  background: #d3d3d3;
}

.header-link {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 7px;
}

.header-link:hover {
  border-bottom: 3px solid white;
  text-decoration: none;
  color: white;
}

.padding {
  height: 20px;
}
.about {
  width: 595px;
  float: right;
  display: block;
}

.content-box {
  background: white;
  margin-bottom: 20px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: 'Lato';
}

.text-content {
  margin-top: 10px;
}

.joe-pic {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  /*left: calc(50% - 300px);
  display: block;
  position: absolute;
  top: 20px;*/
}

.p1 {
  margin: 0 0 0 0;
}

.portfolio-cover {
  background: black;
  width: 760px;
  height: 400px;
  background: black;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-piece:hover {
  opacity: .6;
  cursor: pointer;
}

.portfolio-cover:hover {
}

embed {
  background: white;
}
